
html
{
    margin: 0;
    padding: 0;
    font-family: "arial"; /* the font of the webpage */
    font-size: 14px; /* the font size of the webpage */
}

body
{
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
}

.nav-bar
{
    display: block;
    overflow: hidden; /* make navigation bar take up entire width */
    margin: 0rem 0rem 1rem 0rem; /* top | right | bottom | left */
    padding: 0;
    height: 3rem; /* size 3 units */
    background-color: rgb(255, 255, 255);
    border: solid; /* solid style */
    border-width: 0px 0px 1px 0px; /* top | right | bottom | left */
    border-color: rgb(200, 200, 200); /* color */
}

.nav-entry
{
    display: block;
    float: left; /* entries go from left to right */
    padding: 0rem 0.5rem 0rem 0.5rem; /* top | right | bottom | left */
    text-decoration: none; /* No underlining of the hyperlink */
    color: rgb(0, 0, 0); /* black text */
    text-align: center;
    height: 3rem; /* size 3 units */
    line-height: 3rem; /* must be the same as height and .nav-bar height */
}

.nav-logo
{
    display: block;
    float: left; /* entries go from left to right */
    padding: 0rem 0.5rem 0rem 0.5rem; /* top | right | bottom | left */
    height: 3rem; /* size 3 units */
    margin-top: 0.25rem; /* must be .nav-bar height - .nav-logo img width / 2.0 */
}

.nav-logo img
{
    width: 2.5rem; /* image size 2.5 units */
}

.main
{
    display: block;
    width: 80%;
    margin: auto; /* center the container */
}

.card
{
    display: flex;
    height: 10rem;
    background-color: rgb(255, 255, 255);
    border: solid; /* solid style */
    border-width: 1px;
    border-color: rgb(200, 200, 200); /* color */
    margin: 0rem 0rem 0.5rem 0rem; /* top | right | bottom | left */
}

.card-link
{
    text-decoration: none;
    color: inherit;
}

.card-picture
{
    margin: auto 0.5rem auto 0.5rem; /* top | right | bottom | left */
}

.card-picture img
{
    height: 9rem;
    width: 9rem;
}

.card-content
{
    margin: 0.5rem 0rem 0.5rem 0rem; /* top | right | bottom | left */
}

.page
{
    display: block;
    background-color: rgb(255, 255, 255);
    border: solid; /* solid style */
    border-width: 1px;
    border-color: rgb(200, 200, 200); /* color */
}

.page-title
{
    font-size: 20px; /* larger font */
    border: solid; /* solid style */
    border-width: 0px 0px 1px 0px; /* 1 pixel border at bottom */
    border-color: rgb(0, 0, 0); /* border color */
    margin: 1.5rem 1.5rem 0.5rem 1.5rem; /* top | right | bottom | left */
}

.page-content
{
    margin: 0.0rem 1.5rem 1.5rem 1.5rem; /* top | right | bottom | left */
}

.page-content > * /* all direct children of page-content */
{
    margin: 0;
}

.page-section
{
    font-size: 16px; /* larger font */
    border: solid; /* solid style */
    border-width: 0px 0px 1px 0px; /* 1 pixel border at bottom */
    border-color: rgb(0, 0, 0); /* border color */
    margin-bottom: 0.5rem;
}

.page-subsection
{
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.code-box
{
    display: block;
    border: solid; /* solid style */
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    overflow: auto;
}

.code-box pre
{
    display: grid;
    margin: 0.5rem 0.0rem 0.5rem 0.0rem; /* top | right | bottom | left */
    grid-template-columns: 2.5em auto;
}

.code-box pre span
{
    grid-column: 1;
    padding-left: 0.5em;
}

.code-box pre code
{
    grid-column: 2;
}

.code-box pre code div
{
    display: inline-block;
}

.enum
{
    color: rgb(189, 99, 197);
}

.keyword
{
    color: rgb(0, 0, 255);
}

.datatype
{
    color: rgb(43, 145, 175);
}

.string
{
    color: rgb(9, 134, 88);
}

.number
{
    color: rgb(163, 21, 21);
}

.preprocessor
{
    color: rgb(163, 21, 21);
}

.comment
{
    color: rgb(9, 134, 88);
}
